#landing {
    overflow: hidden;
}

#landing h1{
    color: rgb(172, 150, 24);
    margin: 10px auto;
}
#landing img{
    
    width: 150px;
    height: auto;
    margin: 10px auto;
}
#landing-message{
    font-style: italic;
    width: 60%;
    min-width: 260px;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    text-align: left;
    background-color:  rgba(224, 220, 220, 0.767);
}
.control a {
    margin: 15px auto;
    width: 80px;
    background-color: black;
    color: rgb(88, 168, 233);
    text-align: center; 
}
.control a:hover{
    background-color: red;
    color: white;
}

